.hero {
padding-top: 30px;
height: calc(100% - 88px);


  &-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    list-style-type: none;

    
  }

  &-card {
    background: #f0f9ff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;

    &:nth-child(2), &:nth-child(3){
      background: #FEFBEC;
    }

    &:hover{
        background: linear-gradient(110.42deg, #FEAF00 18.27%, #F8D442 91.84%);
        cursor: pointer;
        
        .hero-card__body-title{
            color: #FFFFFF;
        }

        .hero-card__image4{
            color: #fff;
        }
    }

    &__body {
        margin-bottom: 10px;
      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #6c6c6c;
        margin-top: 18px;
      }
    }

    &__image4{
        color: #000000;
    }

    &__number {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
      color: #000000;
      text-align: end;
    }
  }
}
